html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}

html, body{
  height:100vh;
  width:100vw;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
}
a{
  text-decoration: none;
}
header{
  height:15vh;
  margin-top:0.5vh;
   font-family:'Montserrat', sans-serif;
}
header > section {
  width:30vw;
  float:left;
  margin-left: 5vw;
  padding:1%;
}
header > section:before, header > section:after{
  content: "";
  clear:both;
  display:table;
}
header > section > img{
  display:block;
  float:left;
  width:4vw;
  border-radius: 100%;
}
h1{

 width:7vw;
 margin-left:1vw;
 float:left;
 font-size:1vw;
 font-weight: bold;
}
h1 > span{
  display: block;color:rgba(152, 151, 152, 0.5);
  font-size:0.7vw;
  font-smooth:auto;
  -wekit-font-smoothing:antialiased;
  -moz-osx-font-smoothing-grayscale;

}
nav{
  width:calc(100vw - 30vw);
  margin-left: 45vw;
  padding-top: 1%;
  padding-bottom:1.5%;

}
 nav ul li{
  display: inline-block;
  margin-left: 5vw;
}
nav ul li a{
  font-size:1vw;
  color:#000000;
  font-weight: bold;
}
nav  ul li:last-child{
   border: 1px solid black;
   border-radius:0.75rem;

   padding:0.8%;
}
nav ul li a:link{
  color:#000000;

}
nav ul li a:visited{}
nav ul li a:not(#diff):hover, a.active{ border-bottom: 2px solid black }
